body {
  margin: 0;
  padding: 0;
}
/*GIF MAIN */
.container {
  background-color: #050505;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  height: 300px;
  width: 620px;
  background-image: url("giphy.gif");
  background-position: 50% 20%;
  background-size: 650px 300px;
  font-family: Gotham;
  font-size: 98px;
  font-weight: bolder;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
